@page
@model RazorPagesTutorial.Pages.Person.DisplayAllModel
@{
    ViewData["Title"] = "DisplayAll";
}


<partial name="_Message" />
<h3>People</h3>
<a asp-page="Create" class="btn btn-dark my-2">Add more</a>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Profile Picture</th>
                <th>Action</th>
            </tr>
        <tbody>
            @foreach (var person in Model.People)
            {

                <tr>
                    <td>
                        @person.Name
                    </td>
                    <td>
                        @person.Email
                    </td>
                    <td>@if (!string.IsNullOrEmpty(person.ProfilePicture))
                        {
                            <img style="width:120px;height:100px" src="/Uploads/@person.ProfilePicture" alt="Profile picture"/>
                        }
                        else {
                            <span>NA</span>
                        }
                    </td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@person.Id" class="btn btn-success">Edit</a>
                        <form asp-action="DisplayAll">
                            <button onclick="return confirm('Are you sure??')" asp-page-handler="Delete" asp-route-id="@person.Id" class="btn btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
        </thead>
    </table>
</div>